body
  background: $color-bg-main
  color: $color-text-main
  +f(t, 15, 21)
  +smooth-font
  min-width: $layout-width + 40px
  &.modal-open
    overflow: hidden
    .content-wrapper
      filter: blur(4px)

.content-wrapper
  transition: filter 0.3s ease

b, strong
  +f(b)

a
  color: $color-blue
  &:not(:hover)
    text-decoration: none

.l
  max-width: $layout-width + px
  margin: auto
  padding: 0 20px
  box-sizing: content-box

.l-row
  display: flex
  align-items: stretch
  align-content: stretch
  flex-wrap: nowrap

.l-col
  box-sizing: border-box

.l-cell
  width: 100%
  box-sizing: border-box

.l-multicolumn
  display: flex
  align-items: stretch
  justify-content: space-between

.dropdown
  position: relative

.icon
  fill: currentColor

.text-important
  color: $color-text-important

.text-green
  color: $color-text-green
