.header
  padding-top: 67px
  text-align: center
  position: relative
  margin-bottom: 30px

.header__pic
  display: block
  margin: 0 auto 30px
  position: relative
  left: -10px

.header__title
  +f(b)

.header__aside-btn
  position: absolute
  bottom: 0
  right: 20px

.type-select
  width: 250px
  margin: 30px auto 40px

.attendance
  padding: 37px 0 40px
  background: $color-blue
  color: white
  text-align: center
  font-size: 18px

.attendance__title
  margin-bottom: 16px
  +f(b, 32, 34)

.attendance__value
  width: 304px
  height: 74px
  margin: 40px auto 20px
  box-sizing: border-box
  border-radius: 5px
  text-align: center
  border: 2px solid
  font-size: 59px
  line-height: 74px
