<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <h3 class="title title_lg">See Pricing Now or Get Started</h3>
      <p class="subtitle">No strings attached, open & simple pricing</p>
      <form class="callback-form">

        <div class="field">
          <input class="field__input" type="email" name="email" id="email">
          <label class="field__label" for="email">Enter Your Email Address</label>
          <div class="field__left-icon">{{ mixins.icon('at') }}</div>
        </div>

        <div class="field">
          <input class="field__input" type="text" name="first_name" id="first-name">
          <label class="field__label" for="first-name">First Name</label>
          <div class="field__left-icon">{{ mixins.icon('person') }}</div>
        </div>

        <div class="field">
          <input class="field__input" type="text" name="last_name" id="last-name">
          <label class="field__label" for="last-name">First Name</label>
          <div class="field__left-icon">{{ mixins.icon('person') }}</div>
        </div>

        <div class="field">
          <input class="field__input" type="text" name="org_name" id="org-name">
          <label class="field__label" for="org-name">First Name</label>
          <div class="field__left-icon">{{ mixins.icon('portfolio') }}</div>
        </div>

      </form>
    </div>
  </div>
</div>
