<div class="modal fade" id="modal-callback">
  <div class="modal-dialog">
    <div class="modal-content">
      <button class="modal-close-btn" data-dismiss="modal">{{ mixins.icon('close') }}</button>
      <form class="callback-form">
        <h3 class="title title_lg">See Pricing Now or Get Started</h3>
        <p class="subtitle">No strings attached, open & simple pricing</p>

        <div class="field">
          <input class="field__input" type="email" name="email" id="email">
          <label class="field__label" for="email">Enter Your Email Address</label>
          <div class="field__left-icon">{{ mixins.icon('at') }}</div>
        </div>

        <div class="field">
          <input class="field__input" type="text" name="first_name" id="first-name">
          <label class="field__label" for="first-name">First Name</label>
          <div class="field__left-icon">{{ mixins.icon('person') }}</div>
        </div>

        <div class="field">
          <input class="field__input" type="text" name="last_name" id="last-name">
          <label class="field__label" for="last-name">Last Name</label>
          <div class="field__left-icon">{{ mixins.icon('person') }}</div>
        </div>

        <div class="field">
          <input class="field__input" type="text" name="org_name" id="org-name">
          <label class="field__label" for="org-name">Organization Name</label>
          <div class="field__left-icon">{{ mixins.icon('portfolio') }}</div>
        </div>

        <a href="#" class="cta-btn">View pricing or get started</a>

        <button type="submit" class="btn-icon">
          {{ mixins.icon('btn-callback') }}
          <span>Request a Callback</span>
        </button>

      </form>
    </div>
  </div>
</div>
