{% import 'layouts/_mixins.html' as mixins %}
<!DOCTYPE html>
<html>
  <head>
    {% include "layouts/_head.html" %}
    <!-- BEGIN scripts -->
    <script type="text/javascript" src="lib/jquery/dist/jquery.js" defer></script>
    <script type="text/javascript" src="lib/bootstrap/js/transition.js" defer></script>
    <script type="text/javascript" src="lib/bootstrap/js/modal.js" defer></script>
    <script type="text/javascript" src="lib/bootstrap/js/tab.js" defer></script>
    <script type="text/javascript" src="lib/bootstrap/js/dropdown.js" defer></script>
    <script type="text/javascript" src="lib/nouislider/distribute/nouislider.js" defer></script>
    <script type="text/javascript" src="lib/svgxuse/svgxuse.min.js" defer></script>
    <script type="text/javascript" src="js/app.js" defer></script>
    <!-- END scripts -->
  </head>
  <body {% if page_class %}class="{{ page_class }}"{% endif %}>

    <!-- BEGIN content -->
    <div class="l-content-wrapper">
      {% block content %}{% endblock %}
    </div>
    <!-- END content -->

    <!-- BEGIN modals -->
    {% block modals %}{% endblock %}
    <!-- END modals -->

  </body>
</html>
