{% macro icon(name, classes) %}
  <svg class="icon icon-{{ name }}{{ ' ' + classes if classes }}">
    <use xlink:href="img/sprite.svg#icon-{{ name }}"></use>
  </svg>
{% endmacro %}

{% macro radio(text, classes, attr) %}
  <label class="radio{{ ' ' + classes if classes }}">
    <input type="radio"{{ ' ' + attr if attr }}>
    <span>{{ text | safe }}</span>
  </label>
{% endmacro %}

{% macro radioDiv(text, classes, attr) %}
  <div class="radio{{ ' ' + classes if classes }}">
    <input type="radio"{{ ' ' + attr if attr }}>
    <span>{{ text | safe }}</span>
  </div>
{% endmacro %}

{% macro checkbox(text, classes, attr) %}
  <label class="check{{ ' ' + classes if classes }}">
    <input type="checkbox"{{ ' ' + attr if attr }}>
    <span>{{ text | safe }}</span>
  </label>
{% endmacro %}

