@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('eot'),
    url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$icon-at: "\EA01";
$icon-btn-callback: "\EA02";
$icon-btn-email: "\EA03";
$icon-btn-ok: "\EA04";
$icon-chevron-down: "\EA05";
$icon-close: "\EA06";
$icon-currency-usd: "\EA07";
$icon-demo: "\EA08";
$icon-hint: "\EA09";
$icon-key: "\EA0A";
$icon-man: "\EA0B";
$icon-people-2: "\EA0C";
$icon-people-3: "\EA0D";
$icon-people-5: "\EA0E";
$icon-person: "\EA0F";
$icon-person2: "\EA10";
$icon-portfolio: "\EA11";
$icon-world: "\EA12";


%icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
  display: inline-block;
}

.icon-at:before { content: $icon-at; }
.icon-btn-callback:before { content: $icon-btn-callback; }
.icon-btn-email:before { content: $icon-btn-email; }
.icon-btn-ok:before { content: $icon-btn-ok; }
.icon-chevron-down:before { content: $icon-chevron-down; }
.icon-close:before { content: $icon-close; }
.icon-currency-usd:before { content: $icon-currency-usd; }
.icon-demo:before { content: $icon-demo; }
.icon-hint:before { content: $icon-hint; }
.icon-key:before { content: $icon-key; }
.icon-man:before { content: $icon-man; }
.icon-people-2:before { content: $icon-people-2; }
.icon-people-3:before { content: $icon-people-3; }
.icon-people-5:before { content: $icon-people-5; }
.icon-person:before { content: $icon-person; }
.icon-person2:before { content: $icon-person2; }
.icon-portfolio:before { content: $icon-portfolio; }
.icon-world:before { content: $icon-world; }
